:root {
    --accent: #61DAFB;
    --background: #282c34;
    --unit: 48px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    color: #fff;
    padding-top: var(--unit);
    background-color: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
nav {
    font-family: monospace;
    color: var(--accent);
    font-weight: 100;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: calc(var(--unit) * .8);
}

h2 {
    font-size: calc(var(--unit) * .7);
}

nav {
    height: var(--unit);
    line-height: var(--unit);
    font-size: calc(var(--unit) / 2);
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--background);
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid var(--accent);
}

#nav_content {
    list-style-type: none;
}

#nav_content>* {
    display: inline-block;
    padding: 0 16px;
}

#nav_content {
    width: calc(100% - 128px);
    max-width: calc(80vh / 9 * 16);
    display: block;
    margin: 0 auto;
}

.right {
    float: right;
    color: white;
}

.right_internal {
    color: white;
}