:root {
  --accent: #61DAFB;
  --background: #282c34;
  --unit: 48px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  color: #fff;
  padding-top: var(--unit);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
nav {
  font-family: monospace;
  color: var(--accent);
  font-weight: 100;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: calc(var(--unit) * .8);
  text-align: left;
}

h2 {
  font-size: calc(var(--unit) * .7);
}


nav {
  height: var(--unit);
  line-height: var(--unit);
  font-size: calc(var(--unit) / 2);
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--background);
  position: fixed;
}

#nav-content {
  list-style-type: none;
}

#nav-content>* {
  display: inline-block;
  padding: 0 16px;
}

#nav-content,
article,
#gamescope {
  width: calc(100% - 128px);
  max-width: calc(80vh / 9 * 16);
  display: block;
  margin: 0 auto;
}

#gamescope {
  display: block;
  background: #000;
  height: 80vh;
  max-height: calc(100vw / 16 * 9);
  width: 100%;
  margin: 0 auto;
  border: none;
}

article {
  /* margin-top: var(--unit); */
  margin-top: var(--unit);
  margin-bottom: var(--unit);
}

article {
  margin-top: var(--unit);
}

/* #hrdiv {
  color: #545b69;
  background-color: red;
  height: 1000px;
  width: 1000px;
} */

.row {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.column {
  width: 50%;
}

.panel {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.panel h2 {
  margin-top: 0;
}

.panel ul {
  padding: 10px;
}

.maintext {
  margin-top: 50px;
}
.maintext p {
  margin-left: 20%;
  margin-right: 20%;
}

hr {
  border: none;
  background: var(--accent);
  height: 2px;
  width: 100%;
  margin: var(--unit) auto;
}