.button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #61DAFB;
    margin: 8px;
    border: none;
}

.button:hover {
    width: 100px;
    height: 50px;
    background-color: #4db0cc;
    border: none;
    cursor: pointer;
}

.commentbutton {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #61DAFB;
    margin: auto;
    border: none;
}

.commentbutton:hover {
    width: 100px;
    height: 50px;
    background-color: #4db0cc;
    border: none;
    cursor: pointer;
}

.flexwrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    width: 60vw;
    margin-left: 10vw;
}

.input_form {
    margin: 8px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.form_header {
    color: #61DAFB;
    margin: 32px;
}

.inline {
    display: inline;
}

.buttontext {
    color: black;
    text-decoration: none;
}

.errormessage {
    color: red;
    margin-top: 4px;
    font-size: 12px;
}

.input_text {
    font: Arial;
    color: white;
    background-color: #3c424e;
    border: 0px;
    border-radius: 5px;
    /* margin-left: 15vw; */
    width: 50vw;
    margin-right: 16px;
}

.commentwrap {
    background-color: #3c424e;
    height: 100px;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 0px;
    width: 60vw;
    border: 1px solid white;
    padding: 16px;
}

.username {
    color: aquamarine;
    font-size: 18px;
    float: left;
    margin: 16px;
    width: 100px;
}

.commenttext {
    color: white;
    font-size: 18px;
    float: left;
    /* margin: 16px; */
    /* margin-bottom: 16px; */
    /* padding: 16px; */
}

.remove {
    background-color: #ac3030;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}

.remove:hover {
    background-color: red;
    cursor: pointer;
}

:root {
    --accent: #61DAFB;
    --background: #282c34;
    --unit: 48px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    color: #fff;
    padding-top: var(--unit);
    background: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
nav,
.header1,
.header2 {
    font-family: monospace;
    color: var(--accent);
    font-weight: 100;
    margin-bottom: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header1,
.header2 {
    margin-top: var(--unit);
}

a:hover {
    text-decoration: underline;
}

h1,
.header1 {
    font-size: calc(var(--unit) * .8);
    text-align: left;
}

h2,
.header2 {
    font-size: calc(var(--unit) * .7);
}

.default>li {
    margin-left: var(--unit);
}

nav {
    height: var(--unit);
    line-height: var(--unit);
    font-size: calc(var(--unit) / 2);
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--background);
    position: fixed;
}

#nav-content {
    list-style-type: none;
}

#nav-content>li {
    display: inline-block;
}

#nav-content,
article,
#gamescope {
    width: calc(100% - 128px);
    max-width: calc(80vh / 9 * 16);
    display: block;
    margin: 0 auto;
}

.show {
    width: calc(100% - 128px);
    max-width: calc(80vh / 9 * 16);
    display: block;
    margin: 0 auto;
    text-align: left;
}

#gamescope {
    display: block;
    background: #000;
    height: 80vh;
    max-height: calc(100vw / 16 * 9);
    width: 100%;
    margin: 0 auto;
    border: none;
}

article {
    margin-top: var(--unit);
    margin-top: var(--unit);
    margin-bottom: var(--unit);
}

hr {
    border: none;
    background: var(--accent);
    height: 2px;
    width: 100%;
    margin: var(--unit) auto;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: monospace;
    font-size: 20px;
}